{% extends 'main.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<br>

<a class="btn btn-info btn-sm btn-block" href="{% url 'create_candidatos' %}">Create</a>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Candidatos</h5>
        </div>
        <hr>
        <div class="card card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Puesto Aspirado</th>
                        <th>Departamento</th>
                        <th>Salario Aspirado</th>
                        <th>Competencias Principales</th>
                        <th>Capacitaciones Principales</th>
                        <th>Experiencia Laboral</th>
                        <th>Recomendado Por</th>
                    </tr>
                </thead>
                <tbody>
                {% for cnd in candidatos %}
                    <tr>
                        <td>{{cnd.Cedula}}</td>
                        <td>{{cnd.Nombre}}</td>
                        <td>{{cnd.PuestoAspira}}</td>
                        <td>{{cnd.Departamento}}</td>
                        <td>{{cnd.SalarioAspirado}}</td>
                        <td>{{cnd.CompeteciasPrincipales}}</td>
                        <td>{{cnd.CapacitacionesPrincipales}}</td>
                        <td>{{cnd.Exp_Laboral}}</td>
                        <td>{{cnd.RecomendadoPor}}</td>

                        <td><a href="{% url 'update_candidatos' cnd.id %}" class="btn btn-warning">Edit</a></td>
                        <td><a href="{% url 'delete_candidatos' cnd.id %}" class="btn btn-danger">Delete</a></td>
                        <td><a href="{% url 'select_candidatos' cnd.id %}" class="btn btn-success">Select</a></td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content%}