{% extends 'main.html' %}

{% block content %}

<br>

<a class="btn btn-info btn-sm btn-block" href="{% url 'create_idioma' %}">Create</a>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Idiomas</h5>
        </div>
        <hr>
        <div class="card card-body">
            <table class="table" id="table_id">
                <thead>
                    <tr>
                        <th>Idioma</th>
                        <th>Estado</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in idiomas %}
                    <tr>
                        <td>{{i.Idioma}}</td>
                        <td>
                            {% if i.Activo == True %}
                            <p>Activo</p>
                        {% else %}
                        <p>Inactivo</p>
                        {% endif %}
                        </td>
                        <td><a href="{% url 'update_idioma' i.id %}" class="btn btn-warning">Edit</a></td>
                        <td><a href="{% url 'delete_idioma' i.id %}" class="btn btn-danger">Delete</a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}