{% extends 'main.html' %}

{% block content %}

<br>

<a class="btn btn-info btn-sm btn-block" href="{% url 'create_capacitaciones' %}">Create</a>
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Capacitaciones</h5>
        </div>
        <hr>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Puesto</th>
                    <th>Riesgo</th>
                    <th>SalarioMinimo</th>
                    <th>Cursado Hasta</th>
                    <th>Institucion</th>
                    <th></th>
                </tr>
                {% for p in Puesto %}
                    <tr>
                        <td>{{p.Puesto}}</td>
                        <td>{{p.Riesgo}}</td>
                        <td>{{p.SalarioMinimo}}</td>
                        <td>{{p.SalarioMaximo}}</td>
                        <td>
                            {% if cnd.Activo == True %}
                            <p>Activo</p>
                        {% else %}
                        <p>Inactivo</p>
                        {% endif %}
                        </td>
                        <td><a href="{% url 'update_capacitaciones' p.id %}" class="btn btn-warning">Edit</a></td>
                        <td><a href="{% url 'delete_capacitaciones' p.id %}" class="btn btn-danger">Delete</a></td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content%}