{% extends 'main.html' %}

{% block content %}

<br>

<a class="btn btn-info btn-sm btn-block" href="{% url 'create_puesto' %}">Create</a>


<div class="row ">
</div>
<br>
<div class="row">
    <div class="col-md text-center">
        <div class="card card-body">
            <h5>Puesto</h5>
        </div>
        <hr>
        <div class="card card-body">
            <table class="table" id="table_id">
                <thead>
                    <tr>
                        <th>Puesto</th>
                        <th>Riesgo</th>
                        <th>Salario Minimo</th>
                        <th>Salario Maximo</th>
                        <th>Estado</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for p in puesto %}
                        <tr>
                            <td>{{p.Puesto}}</td>
                            <td>{{p.Riesgo}}</td>
                            <td>{{p.SalarioMinimo}}</td>
                            <td>{{p.SalarioMaximo}}</td>
                            <td>
                                {% if p.Activo == True %}
                                <p>Activo</p>
                            {% else %}
                            <p>Inactivo</p>
                            {% endif %}
                            </td>
                            <td><a href="{% url 'update_puesto' p.id %}" class="btn btn-warning">Edit</a></td>
                            <td><a href="{% url 'delete_puesto' p.id %}" class="btn btn-danger">Delete</a></td>

                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content%}